body, html{
  height: 100%;
}

#nav-color{
    background-color: #1D013A;
}

.navbar{
  padding: 2% 2%;
}

div {
  display: block;
}

body {
  overflow-x: hidden;
}

a {
  color: white;

}

section{
  height: 100%;
}

section h2{
  position: relative;
  top: 50%;
  transform: translateY(-350%);
}

#navbar-header-color a:hover, #navbar-collapse-1 a:hover {
  color: #3C71CB;
  background-color: transparent;
  text-decoration: none;
}

header{
  background-color: #3C71CB;
  height: 100%;
}

header .container {
  padding: 10% 25%;
}

#portfolio h2{
  background-color: #fff;
}
#portfolio .container{
  padding: 10% 25%;

}
#portfolio h2{
  color: #1D013A;
}


#about{
  background-color: #3C71CB;
}

#about h2{
  color: #fff;
}
#about .container{
  padding: 10% 25%;
}


#contact{
  background-color: #fff;
}
#contact .container{
  padding: 10% 25%;
}
#contact h2{
  color: #1D013A
}

#contact .row{
  position: relative;
  top: 50%;
  transform: translateY(-30%);
}

button{
  position: relative;
  top: 50%;
  transform: translateY(180%);
  right: -22%;
}

.footer-above {
  color: #fff;
  background-color: #3C71CB;
  padding-top: 50px;
}

.footer-above .row{
  position: relative;
  top: 50%;
  transform: translateY(-30%);
}

.footer-below {
  color: #fff;
  background-color: #1D013A;
  padding: 25px;
}









